@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

nav{
    top: 0;
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 10;
}
.menubar{
    width: 1100px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.logo{
    padding: 17px 0px;
}
.logo:after{
    display: inline-block;
    content: ' ';
    width: 295px;
}
.menu{
    width: 157px;
    font-style: Noto Sans KR;
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
    letter-spacing: -0.04em;
    text-transform: capitalize;
    width: 120px;
    text-align: center;
    padding: 22px 0px;
    position: relative;
}
a:link, :active, :visited{
    color: #fff;
}
a:hover{
    color:#555;
    transition: all 1s;
}
.menu a:hover:after{
    opacity: 1;
    transition: all 1s;
}
.menu a:after{
    content: ' ';
    position: absolute;
    left: 55px;
    right: 55px;
    bottom: 18px;
    height: 10px;
    border-radius: 20px;
    background-color: #555;
    opacity: 0;
    transition: all 1s;
}
.menu01{

}
.menu02{
    
}
.menu03{
    
}
.menu04{
    
}
section{

}
.bg{
    position: relative;
    width: 100%;
    height: 1080px;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bg01{
    background-image: url('img/m_bg.png');
}
.bg02{
    background-image: url('img/P_bg.png');
}
.bg03{
    background-image: url('img/1_bg.png');
}
.bg04{
    background-image: url('img/2_bg.png');
}


.tex-cont{
    width: 720px;
    height: 242px;
}
.tex01{
    width: 720px;
    text-align: center;
    font-style: Noto Sans KR;
    font-weight: 700;
    font-size: 105px;
    color: #fc6b1b;
    letter-spacing: -0.04em;
    position: relative;
    filter: drop-shadow(0px 0px 9px #000);
    transition: all 1s;
}
.tex01:after{
    content: ' ';
    position: absolute;
    left: 336px;
    right: 336px;
    bottom: 0px;
    height: 3px;
    border-radius: 6px;
    background-color: #fff;
    opacity: 0.6;
}
.tex02{
    width: 720px;
    text-align: center;
    font-style: Noto Sans KR;
    font-weight: 500;
    font-size: 22px;
    color: #ffffff;
    letter-spacing: -0.06em;
    line-height: 1.5em;
    padding: 20px 0px;
    filter: drop-shadow(0px 0px 5px #000);
}
footer{
    height: 150px;
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: center;
}
.wrap{
    width: 1100px;
    display: flex;
    justify-content: end;
}
.wrap ul{
    width: 370px;
    text-align: right;
    border: 0px solid blue;
}
.footer01{
    padding-top: 33px;
}
.footer02{
    padding-top: 10px;
    font-style: Noto Sans KR;
    font-weight: Regular;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: -0.04em;
    line-height: 1;
}